@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf')  format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf')  format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'CenturyGothic', sans-serif;
    outline: none;
}

html {
    height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d64444+0,a985f2+100 */
    background: #d64444; /* Old browsers */
    background: -moz-linear-gradient(45deg, #d64444 0%, #a985f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #d64444 0%,#a985f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #d64444 0%,#a985f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64444', endColorstr='#a985f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;
}

p, h1, h2, h3, span, button, a, li, input {color: white;}

select {color: #d0c5ff;}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.logo {
    margin-bottom: 1em;
}

.news {
    width: 100%;
    flex-basis: 65%;
}

.news h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widgets {
    position: relative;
    height: 100%;
    width: 100%;
    flex-basis: 50%;
}

.weather-info {
    position: absolute;
    top: 100px;
    right: 10px;
    margin: 0 auto;
    max-width: 515px;
    width: 100%;
    flex-basis: auto;
    background-color: rgba(255,255,255, .1);
    padding: 0 .5em;
    border-radius: 5px;
}

.weather-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-header > img {
    width: 15%;
    order: 1;
}

h1 {
    font-family: 'CenturyGothic-Bold', sans-serif;
}

.weather-header > h2 {
    order: -1;
    align-self: flex-start;
    margin: .3em 0;
}

.weather-info> .clouds {
    text-align: right;
    font-size: 1.2em;
    margin: 0;
    margin-right: 1em;
}

.weather-minmax {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.weather-minmax > div {
    margin: 0 .5em;
    position: relative;
    width: 90px;
    flex-basis: 25%;
}

.weather-minmax > div > span {
    padding: .5em;
    font-size: 1.1em;
    border-radius: 5px;
    display: inline-block;
    margin: .5em 0;
    cursor: default;
}

.weather-minmax > div > span:hover + .temp-tooltip {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.weather-minmax > div:first-child span {
    background-color: #5ba4d6;
}

.weather-minmax > div:last-child span {
    background-color: #ff645e;
}

.weather-minmax > div > .temp-tooltip {
    width: 83px;
    position: absolute;
    display: block;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #404040;
    padding: 1em 1.3em;
    border-radius: 5px;
    transform: translateY(15px);
    opacity: 0;
    z-index: -1;
    transition: transform .4s, opacity .2s, z-index .4s;
}

.weather-minmax > div > .temp-tooltip:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #404040;
}

.weather-minmax > div > .temp-tooltip > span {
    background-color: transparent;
}

form {
    margin-top: 1em;
}

form > div > input[type="text"] {
    position: relative;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #d8c5ff;
    color: #f2ecff;
    text-align: center;
    font-size: 1.8em;
    padding: .5em 1em;
}

::-webkit-input-placeholder {
    color: #f2ecff;
}

.error {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.error h1, .error h2 {
    margin: 0;
}

.error a {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'CenturyGothic-Bold', sans-serif;
    margin: .5em 0;
    padding: .5em 1.5em;
    background-color: #a984f1;
    box-shadow: 0 3px rgba(0,0,0, .2);
    border-radius: 5px;
}

.error a:hover {
    opacity: .8;
}

.chat {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255,255,255, .1);
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    height: 400px;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat .messages {
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 1em;
    background-color: rgba(255,255,255,.1);
}

.chat .messages li {
    list-style: none;
}

.chat form {
    text-align: right;
}

.chat form input {
    width: 80%;
    margin-right: 1em;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d0c5ff;
}

.chat form button {
    background-color: #9471da;
    border: 0;
    padding: .5em 1em;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 rgba(0,0,0,0.3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d0c5ff;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #9471da; 
}

.clock {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2em;
}

.clock .date {
    font-size: .6em;
    padding: 0;
    margin: 0;
}

.clock .time {
    margin: 0;
    padding: 0;
}

#news-form {
    text-align: center;
}

#news-form select {
    font-size: 1em;
    width: 30%;
    margin-right: 1em;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d0c5ff;
}

#news-form button {
    background-color: #9471da;
    border: 0;
    padding: .5em 1em;
}

.news-posts {
    max-width: 100%;
    height: calc(100vh - 149px);
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 1px -17px 24px -25px;
}

.newpost {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em .5em;
    box-sizing: border-box;
    transition: background-color .4s;
}

.newpost:hover {
    background-color: rgba(255,255,255, .2);
}

.newpost img {
    width: 210px;
    max-width: 100%;
    height: 120px;
    flex: none;
    margin-right: 1em;
    border: 3px solid rgba(255,255,255, .2);
    border-radius: 3px;
}

.newpost a {
    text-decoration: none;
    font-size: 1.1em;
    background-color: #9471da;
    box-shadow: 0 3px rgba(0,0,0, .2);
    padding: .5em 1em;
    border-radius: 3px;
    display: inline-block;
    margin-top: .5em;
    transition: opacity .4s;
}

.newpost a:hover {
    opacity: .8;
}


.newpost-info h2 {
    text-align: left;
    justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
    .widgets {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 .5em;
    }

    .clock {
        position: initial;
        text-align: right;
    }

    .weather-info {
        position: initial;
    }

    .chat {
        position: initial;
    }
}