<html> 
    <head>
        <title>Wheater</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <% if(data.cod == 404 || data.cod == 503 || data.cod == 502) { %>
            <div class="error"> 
                <h1><%- data.cod %></h1>
                <h2><%- data.message %></h2>
                <a href="/">Voltár</a>
            </div>
        <% } else { %>
            <div class="news">
                <h2><span style="font-size: 2em;">📰</span> <span> Newspaper</span></h2>
                <form id="news-form" name="newsform" method="get">
                    <select name="source" id="source">
                        <option value="google-news">Google News</option>
                        <option value="abc-news-au">ABC-News Au</option>
                    </select>
                    <select name="sort" id="sort">
                        <option value="top">Topo</option>
                        <option value="lastest">Últimas</option>
                        <option value="popular">Populares</option>
                    </select>
                    <button>Search!</button>
                </form>
                <div class="news-posts">
                    <h2 style="font-size: 9em; margin: .3em;">🔍</h2>
                    <h2 class="buffer-data">select some news...</h2>
                </div>
            </div>

            <div class="widgets">
                <div class="clock">
                    <p class="date"></p>
                    <p class="time"></p>
                </div>
                <div class="weather-info">
                    <div class="weather-header">
                        <img src="http://openweathermap.org/img/w/<%- data.weather[0].icon%>.png" alt="<%- data.weather[0].description %>">
                        <h1><%- data.name %>, <%- data.sys.country %></h1>
                        <h2><%- parseFloat(data.main.temp - 273.15).toFixed(1) %> °C </h2>
                    </div>
                    <p class="clouds"><%- data.weather[0].description %></p>
                    <div class="weather-minmax">
                        <div>
                            <span><%- parseFloat(data.main.temp_min - 273.15).toFixed(1) %> °C</span>                
                            <div class="temp-tooltip">
                                <span>Temp.min</span>
                            </div>
                        </div>
                        <div>
                            <span><%- parseFloat(data.main.temp_max - 273.15).toFixed(1) %> °C</span>                
                            <div class="temp-tooltip">
                                <span>Temp.max</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <ul class="messages"></ul>

                    <form>
                        <input id="m" autocomplete="off" type="text" placeholder="escreva aqui...">
                        <button>enviar</button>
                    </form>
                </div>
            </div>
        <% } %>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>